* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#appContainer {
    margin-top: 20px;
    /* padding-left: 20px;
    padding-right: 20px; */
}

.card {
    padding: 10px;
    height: 100%;
    width: 100%;
    /* margin-left: 15px; */
    margin-right: 15px;
    margin-bottom: 20px;
}

.card-end {
    margin-bottom: 0;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#start {
    /* margin-top: 10px; */
    width: 100%;
    padding: 10px;
    /* padding: 0; */
    font-size: 1.2em;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    /* height: 50px; */
    position: relative;
}


/* #startText {
    margin: 10px;
} */

.fileName {
    margin-left: 5px;
}

.cog {
    height: 20px;
    cursor: pointer;
    transition: transform 0.3s;
}

.cog:hover {
    transform: rotate(90deg);
}

#spinner {
    visibility: hidden;
}

#imageDiv {
    height: 200px;
    width: 200px;
    background-color: rgb(240, 240, 240);
    /* margin-bottom: 25px; */
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

#previewImage {
    border-radius: 5px;
}

#imagePreviewDiv {
    margin-bottom: 20px;
}

audio {
    outline: none;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 15px; */
}

.center-col {
    text-align: center;
}

.row-end {
    margin-bottom: none;
}

#innerImage {
    margin: 10px;
    height: 180px;
    width: 100%;
    border-style: dotted;
    border-radius: 5px;
    color: rgb(199, 199, 199);
    display: none;
}

.progress {
    height: 30px;
}

#progressInner {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

#startContent {
    position: relative;
    z-index: 20;
}